venv/
*.RDS
Data/
Output/
*.pyc
.Rproj.user
.Rproj.user/DC9B7929/pcs/files-pane.pper
.Rproj.user/DC9B7929/pcs/windowlayoutstate.pper
.Rproj.user/DC9B7929/pcs/workbench-pane.pper
.Rproj.user/DC9B7929/sources/prop/INDEX
.Rproj.user/DC9B7929/sources/s-16214080/4EC31326
.Rproj.user/DC9B7929/sources/s-16214080/4EC31326-contents
.Rproj.user/DC9B7929/sources/s-16214080/35C7C258
.Rproj.user/DC9B7929/sources/s-16214080/35C7C258-contents
.Rproj.user/DC9B7929/sources/s-16214080/582B1740
.Rproj.user/DC9B7929/sources/s-16214080/582B1740-contents
.Rproj.user/DC9B7929/sources/s-16214080/FF6A702A
.Rproj.user/DC9B7929/sources/s-16214080/FF6A702A-contents
.Rproj.user/DC9B7929/sources/s-16214080/lock_file
.Rproj.user/DC9B7929/viewer_history/current_index
.Rproj.user/DC9B7929/viewer_history/history_entries
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/shared/notebooks/paths
.Rproj.user/DC9B7929/pcs/files-pane.pper
.Rproj.user/DC9B7929/pcs/windowlayoutstate.pper
.Rproj.user/DC9B7929/pcs/workbench-pane.pper
.Rproj.user/DC9B7929/sources/prop/INDEX
.Rproj.user/DC9B7929/sources/s-16214080/4EC31326
.Rproj.user/DC9B7929/sources/s-16214080/4EC31326-contents
.Rproj.user/DC9B7929/sources/s-16214080/35C7C258
.Rproj.user/DC9B7929/sources/s-16214080/35C7C258-contents
.Rproj.user/DC9B7929/sources/s-16214080/582B1740
.Rproj.user/DC9B7929/sources/s-16214080/582B1740-contents
.Rproj.user/DC9B7929/sources/s-16214080/FF6A702A
.Rproj.user/DC9B7929/sources/s-16214080/FF6A702A-contents
.Rproj.user/DC9B7929/sources/s-16214080/lock_file
.Rproj.user/DC9B7929/viewer_history/current_index
.Rproj.user/DC9B7929/viewer_history/history_entries
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66442e134419/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml66443d62ff1/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/index.html
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/css/crosstalk.css
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/crosstalk-1.1.1/js/crosstalk.min.js.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/htmlwidgets-1.5.3/htmlwidgets.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery-AUTHORS.txt
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/jquery-3.5.1/jquery.min.map
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-binding-4.9.3/plotly.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/plotly-main-1.57.1/plotly-latest.min.js
.Rproj.user/DC9B7929/viewer_history/viewhtml664452d24988/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/shared/notebooks/paths
